body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #251b0d;
}

.full-screen-image {
  background-image: url("../public/image-background.jpeg");
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.image-logo {
  width: 3.75rem;
  height: 2.5rem;
  margin: 1rem auto;
  position: absolute;
}

@media (min-width: 768px) {
  .image-logo {
    width: 7.5rem;
    height: 5rem;
  }
}
